.product-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.container{
    margin-left: 40px;
    margin-right: 40px;    
}

.product-list {
    max-width: 300px;
    margin-bottom: 30px;
}

.product-list h4 {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700 !important;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: 'Noto Serif JP', serif;
}

.product-list h5 {
    color: gray;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product-list button {
    border: none;
    outline: none;
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
}

.product-list button:hover {
    background-color: seagreen;
}

.product-div{
    margin-left:20px;
}

.product-img{
    max-width: 300px;
    max-height: 300px;
    border-bottom: 7px solid #9E9E9E;
}

.price {
    color: black;
}

.cart:disabled {
    background-color: whitesmoke !important;
    color: black !important;
    font-weight: 800 !important;    
}

@media(max-width:700px) {
    .product-display {
        justify-content: center;
    }
}


